In [1]:
import pandas as pd
from pathlib import Path

In [2]:
car_sales1 = Path('Car_sales_2021_df.xlsx')
car_sales2 = Path('Imputed_data.csv')

In [3]:
car_df1 = pd.read_excel(car_sales1)
car_df2 = pd.read_csv(car_sales2)

In [11]:
# Combine the data into a single dataset.  
merged_df = pd.merge(car_df1, car_df2, how="outer", on=["Model", "Model"])
merged_df.tail(50)

,Make_x,Model,Body Type,Jan,Feb,Mar,Apr,May,Jun,Jul,...,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Sum
647,NaN,lon2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$13,393.00",2.2,4.0,140.0,26.0,35.0,2692.0,103.0,185.0,55609.27387
648,NaN,lon2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$13,904.00",2.2,4.0,140.0,26.0,35.0,2751.0,103.0,185.0,55609.27387
649,NaN,lon3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$14,811.00",2.2,4.0,140.0,26.0,35.0,2692.0,103.0,185.0,55609.27387
650,NaN,lon3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$15,299.00",2.2,4.0,140.0,26.0,35.0,2751.0,103.0,185.0,55609.27387
651,NaN,L300-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$19,801.00",3.0,6.0,182.0,20.0,28.0,3197.0,107.0,190.0,55609.27387
652,NaN,L300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$21,779.00",2.2,4.0,140.0,24.0,34.0,3109.0,107.0,190.0,55609.27387
653,NaN,xA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$12,340.00",1.5,4.0,108.0,32.0,38.0,2340.0,93.0,154.0,55609.27387
654,NaN,xB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$13,480.00",1.5,4.0,108.0,31.0,35.0,2425.0,98.0,155.0,55609.27387
655,NaN,Baja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$22,304.00",2.5,4.0,165.0,21.0,28.0,3485.0,104.0,193.0,55609.27387
656,NaN,XL-7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$22,307.00",2.7,6.0,185.0,18.0,22.0,3682.0,110.0,187.0,55609.27387
657,NaN,Vitara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$16,949.00",2.5,6.0,165.0,19.0,22.0,3020.0,98.0,163.0,55609.27387
658,NaN,Aeno,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$12,719.00",2.3,4.0,155.0,25.0,31.0,2676.0,98.0,171.0,55609.27387
659,NaN,Aerio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$14,317.00",2.3,4.0,155.0,25.0,31.0,2676.0,98.0,171.0,55609.27387
660,NaN,Aerio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$16,291.00",2.3,4.0,155.0,24.0,29.0,2932.0,98.0,167.0,55609.27387
661,NaN,Forenza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$12,116.00",2.0,4.0,119.0,24.0,31.0,2701.0,102.0,177.0,55609.27387
662,NaN,Forenza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$15,378.00",2.0,4.0,119.0,22.0,30.0,2756.0,102.0,177.0,55609.27387
663,NaN,Verona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$17,053.00",2.5,6.0,155.0,20.0,27.0,3380.0,106.0,188.0,55609.27387
664,NaN,Model,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121610.00000
665,NaN,Model,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11556.00000
666,NaN,Model,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7305.00000
667,NaN,Model,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,161527.00000
668,NaN,Prius,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$18,926.00",1.5,4.0,110.0,59.0,51.0,2890.0,106.0,175.0,59010.00000
669,NaN,Land,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$47,986.00",4.7,8.0,325.0,13.0,17.0,5390.0,112.0,193.0,3711.00000
670,NaN,Echo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$10,144.00",1.5,4.0,108.0,35.0,43.0,2035.0,93.0,163.0,55609.27387
671,NaN,Echo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$10,896.00",1.5,4.0,108.0,33.0,39.0,2085.0,93.0,163.0,55609.27387
672,NaN,Echo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$10,642.00",1.5,4.0,108.0,35.0,43.0,2055.0,93.0,163.0,55609.27387
673,NaN,Celica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$20,363.00",1.8,4.0,180.0,24.0,33.0,2500.0,102.0,171.0,55609.27387
674,NaN,MR2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$22,787.00",1.8,4.0,138.0,26.0,32.0,2195.0,97.0,153.0,55609.27387
675,NaN,Matrix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$15,156.00",1.8,4.0,130.0,29.0,36.0,2679.0,102.0,171.0,55609.27387
676,NaN,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1044.00000
677,NaN,FJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000
678,NaN,GR86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.00000
679,NaN,Touareg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$32,243.00",3.2,6.0,220.0,15.0,20.0,5086.0,112.0,187.0,55609.27387
680,NaN,GTI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$18,109.00",1.8,4.0,180.0,24.0,31.0,2934.0,99.0,168.0,55609.27387
681,NaN,New,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$19,638.00",1.8,4.0,150.0,24.0,31.0,2820.0,99.0,161.0,55609.27387
682,NaN,New,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$21,689.00",2.0,4.0,115.0,24.0,30.0,3082.0,99.0,161.0,55609.27387
683,NaN,Phaeton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$59,912.00",4.2,8.0,335.0,16.0,22.0,5194.0,118.0,204.0,55609.27387
684,NaN,Phaeton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$69,130.00",6.0,12.0,420.0,12.0,19.0,5399.0,118.0,204.0,55609.27387
685,NaN,S40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$23,701.00",1.9,4.0,170.0,22.0,29.0,2767.0,101.0,178.0,55609.27387
686,NaN,S60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$29,916.00",2.5,5.0,208.0,20.0,27.0,3903.0,107.0,180.0,55609.27387
687,NaN,S60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$32,902.00",2.3,5.0,247.0,20.0,28.0,3766.0,107.0,180.0,55609.27387
688,NaN,S60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$35,382.00",2.5,5.0,300.0,18.0,25.0,3571.0,107.0,181.0,55609.27387
689,NaN,S80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$35,542.00",2.9,6.0,208.0,20.0,28.0,3576.0,110.0,190.0,55609.27387
690,NaN,S80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$35,688.00",2.5,5.0,194.0,20.0,27.0,3691.0,110.0,190.0,55609.27387
691,NaN,S80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$42,573.00",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0,55609.27387
692,NaN,C70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$38,203.00",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0,55609.27387
693,NaN,C70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$40,083.00",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0,55609.27387
694,NaN,V40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$24,641.00",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0,55609.27387
695,NaN,XC70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$33,112.00",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0,55609.27387
696,NaN,C40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.00000

merged_df.to_excel("Merged_2021_df.xlsx", index=False)

In [10]:
car_df1

,Make,Model,Body Type,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Total Sales
0,Acura,ILX,Sedan,62,65,124,116,93,73,70,68,58,59,39,43,870
1,Acura,MDX,SUV,93,389,782,611,550,501,347,516,309,406,303,275,5082
2,Acura,NSX,2 Door Coupe,0,2,3,5,5,1,1,2,3,0,1,0,23
3,Acura,RDX,SUV,443,466,650,552,607,738,747,720,788,854,661,750,7976
4,Acura,RLX,Sedan,0,0,1,0,0,0,0,0,1,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,Volvo,60-Series,SUV,98,98,110,0,134,81,121,157,95,122,158,96,1270
285,Volvo,90-Series,SUV,7,7,8,15,19,12,15,19,12,23,29,18,184
286,Volvo,XC40,SUV,222,222,250,369,477,289,252,327,198,224,290,176,3296
287,Volvo,XC60,SUV,155,155,174,241,312,189,395,511,309,311,402,244,3398
288,Volvo,XC90,SUV,190,190,214,261,338,205,281,364,220,192,249,151,2855

In [6]:
car_df.iloc[:, 2:] = car_df.iloc[:, 2:].replace('[\$,]', '', regex=True).replace('-', '0', regex=True).astype(int)

car_df['Total Sales'] = car_df.iloc[:, 2:].sum(axis=1)

In [7]:
car_df

,Make,Model,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Total Sales
0,Acura,ILX,62,65,124,116,93,73,70,68,58,59,39,43,870.0
1,Acura,MDX,93,389,782,611,550,501,347,516,309,406,303,275,5082.0
2,Acura,NSX,0,2,3,5,5,1,1,2,3,0,1,0,23.0
3,Acura,RDX,443,466,650,552,607,738,747,720,788,854,661,750,7976.0
4,Acura,RLX,0,0,1,0,0,0,0,0,1,0,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,Volvo,60-Series,98,98,110,0,134,81,121,157,95,122,158,96,1270.0
287,Volvo,90-Series,7,7,8,15,19,12,15,19,12,23,29,18,184.0
288,Volvo,XC40,222,222,250,369,477,289,252,327,198,224,290,176,3296.0
289,Volvo,XC60,155,155,174,241,312,189,395,511,309,311,402,244,3398.0
290,Volvo,XC90,190,190,214,261,338,205,281,364,220,192,249,151,2855.0

In [8]:
car_df.to_excel("car_sales_2021_df.xlsx", index=False)

In [9]:
car_df

,Make,Model,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Total Sales
0,Acura,ILX,62,65,124,116,93,73,70,68,58,59,39,43,870.0
1,Acura,MDX,93,389,782,611,550,501,347,516,309,406,303,275,5082.0
2,Acura,NSX,0,2,3,5,5,1,1,2,3,0,1,0,23.0
3,Acura,RDX,443,466,650,552,607,738,747,720,788,854,661,750,7976.0
4,Acura,RLX,0,0,1,0,0,0,0,0,1,0,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,Volvo,60-Series,98,98,110,0,134,81,121,157,95,122,158,96,1270.0
287,Volvo,90-Series,7,7,8,15,19,12,15,19,12,23,29,18,184.0
288,Volvo,XC40,222,222,250,369,477,289,252,327,198,224,290,176,3296.0
289,Volvo,XC60,155,155,174,241,312,189,395,511,309,311,402,244,3398.0
290,Volvo,XC90,190,190,214,261,338,205,281,364,220,192,249,151,2855.0

In [10]:
car_sales_2021_df

NameError: name 'car_sales_2021_df' is not defined