In [1]:
import pandas as pd
import numpy as np

In [19]:
orignal_df = pd.read_csv('data.csv')
orignal_df.head()

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
0,0,alfa-romeo,Alfa Romeo GTV,red,10/1995,1995,1300,148,201,Manual,Petrol,"10,9 l/100 km",260 g/km,160500.0,2.0 V6 TB
1,1,alfa-romeo,Alfa Romeo 164,black,02/1995,1995,24900,191,260,Manual,Petrol,NaN,- (g/km),190000.0,"Q4 Allrad, 3.2L GTA"
2,2,alfa-romeo,Alfa Romeo Spider,black,02/1995,1995,5900,110,150,Unknown,Petrol,NaN,- (g/km),129000.0,ALFA ROME 916
3,3,alfa-romeo,Alfa Romeo Spider,black,07/1995,1995,4900,110,150,Manual,Petrol,"9,5 l/100 km",225 g/km,189500.0,2.0 16V Twin Spark L
4,4,alfa-romeo,Alfa Romeo 164,red,11/1996,1996,17950,132,179,Manual,Petrol,"7,2 l/100 km",- (g/km),96127.0,"3.0i Super V6, absoluter Topzustand !"

In [3]:
orignal_df.shape

(251079, 15)

In [20]:
orignal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251079 entries, 0 to 251078
Data columns (total 15 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                251079 non-null  int64
 1   brand                     251079 non-null  object
 2   model                     251079 non-null  object
 3   color                     250913 non-null  object
 4   registration_date         251075 non-null  object
 5   year                      251079 non-null  object
 6   price_in_euro             251079 non-null  object
 7   power_kw                  250945 non-null  object
 8   power_ps                  250950 non-null  object
 9   transmission_type         251079 non-null  object
 10  fuel_type                 251079 non-null  object
 11  fuel_consumption_l_100km  224206 non-null  object
 12  fuel_consumption_g_km     251079 non-null  object
 13  mileage_in_km             250927 non-null  float64
 14  offer_description         251078 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 28.7+ MB

In [4]:
orignal_df.columns

Index(['Unnamed: 0', 'brand', 'model', 'color', 'registration_date', 'year',
       'price_in_euro', 'power_kw', 'power_ps', 'transmission_type',
       'fuel_type', 'fuel_consumption_l_100km', 'fuel_consumption_g_km',
       'mileage_in_km', 'offer_description'],
      dtype='object')

In [5]:
orignal_df = orignal_df.drop(columns=['power_kw', 'fuel_consumption_g_km','offer_description'])

In [6]:
orignal_df.columns

Index(['Unnamed: 0', 'brand', 'model', 'color', 'registration_date', 'year',
       'price_in_euro', 'power_ps', 'transmission_type', 'fuel_type',
       'fuel_consumption_l_100km', 'mileage_in_km'],
      dtype='object')

In [7]:
orignal_df.isnull().sum()

Unnamed: 0                      0
brand                           0
model                           0
color                         166
registration_date               4
year                            0
price_in_euro                   0
power_ps                      129
transmission_type               0
fuel_type                       0
fuel_consumption_l_100km    26873
mileage_in_km                 152
dtype: int64

In [8]:
#dropping less null containing columns

clean_df=orignal_df.dropna(subset=['color','registration_date','fuel_consumption_l_100km','power_ps','mileage_in_km'])

In [9]:
clean_df.shape

(223842, 12)

In [10]:
substring = "l/100 km"
matches = clean_df['fuel_consumption_l_100km'].str.contains(substring,na=True)
matches.value_counts()

True     222681
False      1161
Name: fuel_consumption_l_100km, dtype: int64

In [11]:
clean_df = clean_df[matches==True]

In [12]:
clean_df.shape

(222681, 12)

In [13]:
type(clean_df['price_in_euro'])

pandas.core.series.Series

In [14]:
print(clean_df['year'].unique())

['1995' '1996' '1997' '1998' '1999' '2000' '2001' '2002' '2003' '2004'
 '2005' '2006' '2007' '2008' '2009' '2010' '2011' '2012' '2013' '2014'
 '2015' '2016' '2017' '2018' '2019' '2020' '2021' '2022' '2023']

In [24]:
clean_df= clean_df.loc[(clean_df['year'] == "2021") | 
                        (clean_df['year'] == "2022") |
                        (clean_df['year'] == "2023")]

In [25]:
clean_df.shape

(48544, 12)

In [26]:
clean_df.head()

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,mileage_in_km
933,933,alfa-romeo,Alfa Romeo Giulia,blue,10/2021,2021,59790,280,Automatic,Petrol,"6,7 l/100 km",10.0
934,934,alfa-romeo,Alfa Romeo Stelvio,blue,12/2021,2021,71090,280,Automatic,Petrol,"7,3 l/100 km",490.0
935,935,alfa-romeo,Alfa Romeo Giulia,blue,09/2021,2021,70800,510,Automatic,Petrol,"9,2 l/100 km",21373.0
936,936,alfa-romeo,Alfa Romeo Stelvio,blue,04/2021,2021,44750,209,Automatic,Diesel,"5,7 l/100 km",66000.0
937,937,alfa-romeo,Alfa Romeo Giulia,blue,02/2021,2021,36650,190,Automatic,Diesel,"4,8 l/100 km",50935.0

In [28]:
clean_df.to_csv('clean_data.csv')