In [1]:
import pandas as pd
from pathlib import Path

In [2]:
car_sales1 = Path('../csv_data/car_sales_2021_df.csv')
car_sales2 = Path('../csv_data/Imputed_data.csv')

In [3]:
car_df1 = pd.read_excel(car_sales1)
car_df2 = pd.read_csv(car_sales2)

In [4]:
# Combine the data into a single dataset.  
merged_df = pd.merge(car_df1, car_df2, how="left", on=["Model", "Model"])
merged_df

,Make_x,Model,Body Type,Jan,Feb,Mar,Apr,May,Jun,Jul,...,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Sum
0,Acura,ILX,Sedan,62,65,124,116,93,73,70,...,29732.477273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13900.0
1,Acura,MDX,SUV,93,389,782,611,550,501,347,...,33337.000000,3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0,60057.0
2,Acura,NSX,2 Door Coupe,0,2,3,5,5,1,1,...,79978.000000,3.2,6.0,290.0,17.0,24.0,3153.0,100.0,174.0,124.0
3,Acura,RDX,SUV,443,466,650,552,607,738,747,...,41100.000000,3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0,57013.0
4,Acura,RLX,Sedan,0,0,1,0,0,0,0,...,39014.000000,3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0,214.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Volvo,60-Series,SUV,98,98,110,0,134,81,121,...,29732.477273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14846.0
376,Volvo,90-Series,SUV,7,7,8,15,19,12,15,...,29732.477273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1495.0
377,Volvo,XC40,SUV,222,222,250,369,477,289,252,...,29732.477273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26802.0
378,Volvo,XC60,SUV,155,155,174,241,312,189,395,...,29732.477273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41582.0
379,Volvo,XC90,SUV,190,190,214,261,338,205,281,...,38851.000000,2.9,6.0,268.0,15.0,20.0,4638.0,113.0,189.0,38657.0

In [5]:
merged_df.to_csv("../csv_data/editable_data.csv")